.size-14 {
  font-size: 14px;
}

hr {
  border    : 0;
  border-top: 1px solid #ccc;
  margin    : 0;
}

.text-line {
  color    : #000;
  font-size: 12px;
}

.custom-hover {
  color       : rgba(255, 255, 255, 0.9) !important;
  border-color: rgba(255, 255, 255, 0.9) !important;
}

.custom-hover:hover {
  background-color: transparent !important;
  color           : var(--primary) !important;
  border-color    : var(--primary) !important;
}

/* show hide password */
.cs-block-show-hide {
  position: relative;
}

.cs-show-hide {
  position : absolute;
  top      : 50%;
  transform: translateY(calc(-50% + 14px));
  right    : 20px;
  cursor   : pointer;
}

.form-control:focus {
  border-color: var(--primary) !important;
  box-shadow  : 0 0 1px var(--primary) !important;
}

